# Environment variables
.env
*.env

# Python runtime artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Database & local storage
*.db
*.sqlite3

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / OS files
.vscode/
.idea/
.DS_Store
